dataowner/rawText
dataowner/Encrypted
/rawTexts
/trapdoor/*.json
/trapdoor/EDMRS/*.json
/trapdoor/BDMRS/*.json
/dataowner/*.json
/dataowner/basic_secret.bin
/dataowner/basic_secret_EDMRS.bin
tags
/dataowner/*.json
/mainForm/__pycache__
/dataowner/mainForm/__pycache__
